/* сброс стилей браузера */
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 0;
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* конец кода сброса стилей браузера */

/*Основной div. На нем все остальное*/
#main {
    width: 960px;
    margin: 0 auto;
}

/*Тени*/
.blockSearch, .SearchString button, .repoList, .repoList li, .blockIssue, .listIssues li, .issueInfo, .message {
    box-shadow: 3px 3px 4px black;
}

/* Радиусы*/
.blockSearch, .SearchString, .SearchString button, .SearchString input, .repoList, .repoList li, .blockIssue, .listIssues li, .issueInfo, .message {
    border-radius: 3px;    
}

/*float лево право*/
.issueInfo, .blockSearch {
    float:left;
}

.blockIssue {
    float: right;
}

.issueInfo {
    width: 220px;
    text-align: left;
    background: #B3B134;
    padding: 5px;
    margin-right:10px;
    margin-bottom:10px;
}

.blockSearch {
    width: 220px;
    background: #B3B134;
    min-height: 95vh;
    margin: 10px;
    margin-top: 20px;
}

.blockIssue {
    width: 720px;
    text-align: center;
    min-height: 95vh;
    padding: 20px;
    
    margin-top: 20px;
}

.hidenBlock {
    visibility: hidden;
}

.SearchString {
    text-align: center;
    margin: 10px;
}

.SearchString input {
    margin: 10px;
    width: 160px;
}

.repoList {
    visibility: visible;
    position: absolute;
    padding: 10px;
    background: #A61F1F;
}

.repoList li, .listIssues li {
    border: 1px solid black;
    margin: 3px;
    background: #22A2F2;
}

.repoList li:hover, .listIssues li:hover {
    background: aqua;
}

.repoList li:active, .listIssues li:active {
    box-shadow: 2px 2px 2px black inset;
}

.avatarImg {
    width: 40px;
    height: 40px;
}

.listIssues {
    padding: 10px;
}

/*Окно сообщения об ошибках*/
.message {
    position: absolute;
    padding: 10px;
    width: 20vw;
    margin-left: 40vw;
    margin-top: 30vh;
    background: #22A2F2;
    text-align: center;
}












